
#cubica
{
	width:100%;
	height:100%;
	background-color:white;
	
	
	
}
#izq 
{
	border:1px solid black;
	width:530px;
	height:600px;
	float: left;
	margin-right:10px;
	color:#c80000
	
}
#der
{
	border:1px solid black;
	width:530px;
	height:600px;
	float: left;
	text-align:center;
	
	
}
#der img {
	
	width:480px;
	box-shadow:3px 3px 6px black;
	border-radius:10px;
	
	
}